*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
   max-width: 100%;
   min-height: 100%;
}

nav{
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
}

nav ul {
    display:flex;
    align-items: center;
    
}

 nav ul li{
    list-style: none;
    margin-left: 50px;
    font-weight: 600;

}
.nav-button{
    background-color:rgb(96, 96, 240);
   
    padding: 18px 60px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size:15px;

}
 .banner-container{
    padding: 20px 20px;
    height: 70%;
    align-items:center;
    Justify-content:center;
    display:flex;
    
} 


.footer_img{
    
    /* float:right; */
    width: 150%;
    align-items:center;
    margin-left: 40px;

}
.banner-container div{
    max-width: 400px;
    min-width:400px;
   
    display:inline-block;
    min-height: 300px;
}
.banner-container h1{
       align-items: center; 
      font-size: 60px;
      /* margin:10px 0; */
      /* margin-right:30px; */
}
.banner-container p{
       font-size:20px;
       /* margin:7px 40px; */
} 
